@charset "UTF-8";

@import "~base/global";

.afterpay-checkout-button {
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.afterpay-hide {
    display: none !important;
}

img.ap-footer-image {
    vertical-align: middle;
    width: 7em;
    max-width: 100px;
    margin: 5px 0;
}

